<div class="center">
  <h1>{{ countryname }} <span> <a class="back" [routerLink]="['/']">Back</a></span></h1>


<button class="myButton">Total number of entry <br> {{ (citylist$ | async)?.size }} </button>
<button class="myButton">Total number medals <br> {{ (medalNB$ | async) }} </button>
<button class="myButton">Total number athlete <br> {{(athleteNB$ | async) }} </button>

<canvas
  baseChart
  class="chart"
  [data]="(lineChartData | async ) || undefined"
  [options]="lineChartOptions"
  [type]="lineChartType"
   height="500"
  width="500"
></canvas>

</div>
