<div class="center">
  <h1>{{ countryname }} <span> <a class="back" [routerLink]="['/']">Back</a></span></h1>


<a href="#" class="myButton">Total number of entry <br> {{ citylist.length }} </a>
<a href="#" class="myButton">Total number medals <br> {{ medalNB }} </a>
<a href="#" class="myButton">Total number athlete <br> {{athleteNB}} </a>

<canvas
  baseChart
  class="chart"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="lineChartType"
   height="500"
  width="500"
></canvas>

</div>

